.myProjects {
  height: 100vh;
  background-color: rgb(130, 170, 244);
  display: flex;
  flex-wrap: wrap;
}

.title {
  background-color: beige;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.projects {
  width: 100%;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
