.myProjects {
  min-height: 60vh;
  background-color: rgb(130, 170, 244);
  display: flex;
  flex-wrap: wrap;
}

.title {
  background-color: beige;
  margin: 15px 0px;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
