.contactsWitchMe {
  background-color: rgb(79, 187, 187);
  padding: 30px 0px;
}

.contactsWitchMeContainer {
  flex-direction: column;
}

.title {
  background-color: beige;
  margin: 15px 0px;
}

.contactsWitchMeForm {
  width: 40vh;
  height: 28vh;
  display: flex;
  border: 1px solid;
  flex-direction: column;
  justify-content: space-between;
}

.contactsInput {
  height: 5vh;
}
.contactsTexarea {
  height: 15vh;
}

.btnSubmit {
  background-color: #555;
  color: white;
  font-size: 15px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  margin: 15px 0px;
  border-radius: 5px;
}

.btnSubmit:hover {
  background-color: black;
}
