@import "../../common/styles/sass/variablies.sass";
@import "../../common/styles/sass/mixins.sass";

.skill {
  width: 100%;
  min-width: 260px;
  padding: 15px;
  display: flex;
  border-radius: 17px;
  background-color: #28e98c;
  .skill__content {
    display: flex;
    align-items: center;
    width: 100%;
    .title {
      @include text($titleFontFamily, 24px, 700, 1px);
      color: black;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .icon {
      height: 80px;
      width: 80px;
      color: black;
      transition: ease-in-out 1s;
      &:hover {
        cursor: pointer;
        transition: ease-in-out 1s;
        transform: rotate(360deg);
      }
    }
  }

  .description {
    margin-top: 10px;
    @include text($textFontFamily, 16px, 400, 1px);
  }
}
