.skillsBlock {
  min-height: 50vh;
  padding: 30px 0px;
  background-color: rgb(161, 161, 243);
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: beige;
  margin: 15px 0px;
}

.skills {
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
