.main {
  height: 100vh;
  background-color: cornsilk;
  display: flex;
}

.welcome {
  width: 350px;
  background-color: rgb(213, 213, 52);
}

.photo {
  width: 300px;
  height: 400px;
  background-color: rgb(213, 213, 52);
}

.mainContainer {
  flex-wrap: wrap;
}
