.workRemotely {
  min-height: 20vh;
  padding: 30px 0px;
  background-color: rgb(224, 124, 124);
}

.workRemotelyContainer {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: beige;
  margin: 15px 0px;
}

.btnHire {
  background-color: #555;
  color: white;
  margin: 15px;
  font-size: 15px;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnHire:hover {
  background-color: black;
}
